/* Figma Styles of your File */
:root {
  /* Colors */
  --portfolio-angga-sandvercelapp-alabaster: #fafafa;
  --portfolio-angga-sandvercelapp-black: #000000;
  --portfolio-angga-sandvercelapp-black-7: rgba(0, 0, 0, 0.07);
  --portfolio-angga-sandvercelapp-black-4: rgba(0, 0, 0, 0.04);
  --portfolio-angga-sandvercelapp-black-pearl: #020617;
  --portfolio-angga-sandvercelapp-black-pearl-40: rgba(2, 6, 23, 0.4);
  --portfolio-angga-sandvercelapp-blue-chalk: #e9d5ff;
  --portfolio-angga-sandvercelapp-black-8: rgba(0, 0, 0, 0.08);
  --portfolio-angga-sandvercelapp-catskill-white-50: rgba(248, 250, 252, 0.5);
  --portfolio-angga-sandvercelapp-catskill-white: #f1f5f9;
  --portfolio-angga-sandvercelapp-catskill-white-70: rgba(248, 250, 252, 0.7);
  --portfolio-angga-sandvercelapp-ebony: #0f172a;
  --portfolio-angga-sandvercelapp-electric-violet: #9333ea;
  --portfolio-angga-sandvercelapp-fiord: #475569;
  --portfolio-angga-sandvercelapp-french-pass: #bfdbfe;
  --portfolio-angga-sandvercelapp-geyser: #cbd5e1;
  --portfolio-angga-sandvercelapp-green-haze: #059669;
  --portfolio-angga-sandvercelapp-magnolia: #faf5ff;
  --portfolio-angga-sandvercelapp-mirage: #1e293b;
  --portfolio-angga-sandvercelapp-mountain-meadow: #10b981;
  --portfolio-angga-sandvercelapp-mystic: #e2e8f0;
  --portfolio-angga-sandvercelapp-pattens-blue-50: rgba(219, 234, 254, 0.5);
  --portfolio-angga-sandvercelapp-pattens-blue: #dbeafe;
  --portfolio-angga-sandvercelapp-pattens-blue-60: rgba(219, 234, 254, 0.6);
  --portfolio-angga-sandvercelapp-pickled-bluewood: #334155;
  --portfolio-angga-sandvercelapp-royal-blue: #2563eb;
  --portfolio-angga-sandvercelapp-royal-blue-12: rgba(37, 99, 235, 0.12);
  --portfolio-angga-sandvercelapp-royal-blue-30: rgba(37, 99, 235, 0.3);
  --portfolio-angga-sandvercelapp-slate-gray: #64748b;
  --portfolio-angga-sandvercelapp-white: #ffffff;
  --portfolio-angga-sandvercelapp-white-02: rgba(255, 255, 255, 0);
  --portfolio-angga-sandvercelapp-white-75: rgba(255, 255, 255, 0.75);
  --portfolio-angga-sandvercelapp-white-85: rgba(255, 255, 255, 0.85);
  --portfolio-angga-sandvercelapp-white-90: rgba(255, 255, 255, 0.9);
  --portfolio-angga-sandvercelapp-white-95: rgba(255, 255, 255, 0.95);
  --portfolio-angga-sandvercelapp-white-alabaster: linear-gradient(
      to left,
      #fafafa,
      #fafafa
    ),
    linear-gradient(to left, #ffffff, #ffffff);
  --portfolio-angga-sandvercelapp-zumthor: #eff6ff;

  /* Fonts */
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-family: PlusJakartaSans-Bold,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-size: 12px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-line-height: 16px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-weight: 700;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-family: PlusJakartaSans-Bold,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-size: 12px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-line-height: 16px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-weight: 700;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-family: PlusJakartaSans-Bold,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-size: 14px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-line-height: 20px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-weight: 700;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-family: PlusJakartaSans-Bold,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-size: 16px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-line-height: 24px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-weight: 700;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-family: PlusJakartaSans-Bold,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-size: 20px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-line-height: 28px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-weight: 700;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-family: PlusJakartaSans-Bold,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-size: 20px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-line-height: 28px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-weight: 700;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-family: PlusJakartaSans-Bold,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-size: 24px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-line-height: 32px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-weight: 700;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-family: PlusJakartaSans-Bold,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-size: 30px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-line-height: 36px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-weight: 700;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-upper-font-family: PlusJakartaSans-Bold,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-upper-font-size: 12px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-upper-line-height: 16px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-upper-font-weight: 700;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-bold-upper-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-extrabold-font-family: PlusJakartaSans-ExtraBold,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-extrabold-font-size: 48px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-extrabold-line-height: 48px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-extrabold-font-weight: 800;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-extrabold-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-extrabold-font-family: PlusJakartaSans-ExtraBold,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-extrabold-font-size: 60px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-extrabold-line-height: 60px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-extrabold-font-weight: 800;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-extrabold-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-extrabold-font-family: PlusJakartaSans-ExtraBold,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-extrabold-font-size: 72px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-extrabold-line-height: 72px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-extrabold-font-weight: 800;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-extrabold-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-family: PlusJakartaSans-Light,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-size: 12px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-line-height: 19.5px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-weight: 300;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-family: PlusJakartaSans-Light,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-size: 12px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-line-height: 16px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-weight: 300;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-family: PlusJakartaSans-Light,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-size: 14px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-line-height: 22.75px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-weight: 300;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-family: PlusJakartaSans-Light,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-size: 14px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-line-height: 20px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-weight: 300;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-family: PlusJakartaSans-Light,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-size: 16px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-line-height: 24px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-weight: 300;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-family: PlusJakartaSans-Light,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-size: 18px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-line-height: 28px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-weight: 300;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-family: PlusJakartaSans-Light,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-size: 20px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-line-height: 28px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-weight: 300;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-family: PlusJakartaSans-Light,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-size: 24px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-line-height: 32px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-weight: 300;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-light-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-medium-font-family: PlusJakartaSans-Medium,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-medium-font-size: 12px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-medium-line-height: 16px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-medium-font-weight: 500;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-medium-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-medium-font-family: PlusJakartaSans-Medium,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-medium-font-size: 14px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-medium-line-height: 20px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-medium-font-weight: 500;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-medium-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-regular-font-family: PlusJakartaSans-Regular,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-regular-font-size: 12px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-regular-line-height: 16px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-regular-font-weight: 400;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-regular-font-style: normal;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-semibold-font-family: PlusJakartaSans-SemiBold,
    sans-serif;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-semibold-font-size: 18px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-semibold-line-height: 28px;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-semibold-font-weight: 600;
  --portfolio-angga-sandvercelapp-plus-jakarta-sans-semibold-font-style: normal;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-family: SpaceGrotesk-Bold,
    sans-serif;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-size: 11px;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-line-height: 16.5px;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-weight: 700;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-style: normal;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-family: SpaceGrotesk-Bold,
    sans-serif;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-size: 11.800000190734863px;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-line-height: 16px;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-weight: 700;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-style: normal;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-family: SpaceGrotesk-Bold,
    sans-serif;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-size: 12px;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-line-height: 16px;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-weight: 700;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-style: normal;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-family: SpaceGrotesk-Bold,
    sans-serif;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-size: 16px;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-line-height: 24px;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-weight: 700;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-style: normal;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-family: SpaceGrotesk-Bold,
    sans-serif;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-size: 30px;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-line-height: 36px;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-weight: 700;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-style: normal;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-upper-font-family: SpaceGrotesk-Bold,
    sans-serif;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-upper-font-size: 12px;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-upper-line-height: 16px;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-upper-font-weight: 700;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-upper-font-style: normal;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-family: SpaceGrotesk-Bold,
    sans-serif;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-size: 12px;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-line-height: 16px;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-weight: 700;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-style: normal;
  --portfolio-angga-sandvercelapp-space-grotesk-medium-font-family: SpaceGrotesk-Medium,
    sans-serif;
  --portfolio-angga-sandvercelapp-space-grotesk-medium-font-size: 11px;
  --portfolio-angga-sandvercelapp-space-grotesk-medium-line-height: 16.5px;
  --portfolio-angga-sandvercelapp-space-grotesk-medium-font-weight: 500;
  --portfolio-angga-sandvercelapp-space-grotesk-medium-font-style: normal;
  --portfolio-angga-sandvercelapp-space-grotesk-medium-font-family: SpaceGrotesk-Medium,
    sans-serif;
  --portfolio-angga-sandvercelapp-space-grotesk-medium-font-size: 12px;
  --portfolio-angga-sandvercelapp-space-grotesk-medium-line-height: 16px;
  --portfolio-angga-sandvercelapp-space-grotesk-medium-font-weight: 500;
  --portfolio-angga-sandvercelapp-space-grotesk-medium-font-style: normal;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-family: SpaceGrotesk-Regular,
    sans-serif;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-size: 11px;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-line-height: 16.5px;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-weight: 400;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-style: normal;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-family: SpaceGrotesk-Regular,
    sans-serif;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-size: 12px;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-line-height: 16px;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-weight: 400;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-style: normal;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-family: SpaceGrotesk-Regular,
    sans-serif;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-size: 12px;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-line-height: 16px;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-weight: 400;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-style: normal;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-family: SpaceGrotesk-Regular,
    sans-serif;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-size: 14px;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-line-height: 20px;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-weight: 400;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-style: normal;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-family: SpaceGrotesk-Regular,
    sans-serif;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-size: 14px;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-line-height: 20px;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-weight: 400;
  --portfolio-angga-sandvercelapp-space-grotesk-regular-font-style: normal;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-family: SpaceGrotesk-Bold,
    sans-serif;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-size: 10px;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-line-height: 15px;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-weight: 700;
  --portfolio-angga-sandvercelapp-space-grotesk-bold-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
:root,
[data-portfolio-angga-sandvercelapp-mode="mode-1"] {
  /* mode-1 */
  --tw-ring-offset-color: #ffffff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --color-black-solid: #000000;
  --color-azure-11: #0f172a;
  --color-azure-53: #2563eb;
  --color-azure-47: #64748b;
  --color-violet-56: #9333ea;
  --color-white-85: rgba(255, 255, 255, 0.85);
  --color-grey-91: #e2e8f0;
  --color-azure-27: #334155;
  --color-white-95: rgba(255, 255, 255, 0.95);
  --color-azure-53-30: rgba(37, 99, 235, 0.3);
  --color-grey-97: #eff6ff;
  --color-azure-87: #bfdbfe;
  --color-spring-green-30: #059669;
  --color-azure-35: #475569;
  --color-black-4: rgba(0, 0, 0, 0.04);
  --color-black-8: rgba(0, 0, 0, 0.08);
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-black-7: rgba(0, 0, 0, 0.07);
  --color-grey-96: #f1f5f9;
  --color-white-02: rgba(255, 255, 255, 0);
  --color-azure-84: #cbd5e1;
  --color-azure-17: #1e293b;
  --color-blue-5-80: rgba(2, 6, 23, 0.8);
  --color-blue-5-0: rgba(2, 6, 23, 0);
  --color-black-20: rgba(0, 0, 0, 0.2);
  --color-white-90: rgba(255, 255, 255, 0.9);
  --color-blue-5-40: rgba(2, 6, 23, 0.4);
  --color-grey-93: #dbeafe;
  --color-grey-98: #faf5ff;
  --color-grey-92: #e9d5ff;
  --color-grey-98-2: #fafafa;
  --color-azure-53-12: rgba(37, 99, 235, 0.12);
  --color-grey-93-60: rgba(219, 234, 254, 0.6);
  --color-spring-green-39: #10b981;
  --color-blue-5: #020617;
  --color-grey-98-70: rgba(248, 250, 252, 0.7);
  --color-grey-98-50: rgba(248, 250, 252, 0.5);
  --color-grey-93-50: rgba(219, 234, 254, 0.5);
}
